@font-face{
    font-family: "Open Sans Regular";
    src: url(../fonts/OpenSans-Regular.ttf);    
}
@font-face{
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSans-Bold.ttf);    
}
@font-face{
    font-family: "Montserrat Regular";
    src: url(../fonts/Montserrat-Regular.ttf);    
}
@font-face{
    font-family: "Montserrat Medium";
    src: url(../fonts/Montserrat-Medium.ttf);    
}
@font-face{
    font-family: "Montserrat Bold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face{
    font-family: "Lato Bold";
    src: url(../fonts/latobold.ttf);    
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    font-family: "Lato Bold";
    font-size: 18px;   
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    width: 166px;
    height: 47px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    border: none;
    border-radius: 30px;
}

header {
    width: 1200px;
    margin: 0 auto;
}

.logo-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 1050px) {
    .logo-contacts {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .logo-contacts {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 490px) {
    .logo-contacts {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1050px) {
    .logo {
      grid-column-start: 1;
      grid-column-end: -1;
    }
}

.header-contacts {
    color: #6a6a6a;
    font-family: "Open Sans Regular";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 60px;
}

.header-contacts .text {
    margin-top: 0;
}

.header-contacts .title {
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 20px;
}

.logo {
    display: block;
    margin: 20px;
}

.header-worktime {
    background: url(../img/header-worktime.png) no-repeat left center;
}

.header-mail {
    background: url(../img/header-mail.png) no-repeat left center;
}

.header-phone {
    background: url(../img/header-phone.png) no-repeat left center;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

@media (max-width: 890px) {
    .main-menu {
        flex-direction: column;
    }
}

.main-menu-list{
    display: flex;
    float: left;
}

@media (max-width: 702px) {
    .main-menu-list {
        flex-direction: column;
    }
}

.main-menu-item a {
    color: #6c6c6c;
    font-family: "Montserrat Regular";
    font-size: 20px;
    font-weight: 400;
    padding: 0 20px;
}

.header-social-icons a {
    color: #191919;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 6.8px;
}

.main-banner {
    background: url(../img/main_banner.jpg) no-repeat center center;
    width: calc(100% + 40px);
    height: 640px;
    background-size: cover;
    margin-left: -20px;
    margin-right: -20px;
}

.main-banner-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
}

.main-banner-header {
    color: #474747;
    font-family: "Montserrat Medium";
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -1.19px;
    text-align: center;
    margin-top: 0;
}

.main-banner-text {
    color: #3f3f3f;
    font-family: "Open Sans Regular";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.main-banner-button {
    margin-left: calc(50% - 83px);
}

.services {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

@media (max-width: 1050px) {
    .services-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .services-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 490px) {
    .services-list {
        grid-template-columns: 1fr;
    }
}

.services-item {
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services-item:nth-child(1) {
    background-color: #43b1d2;
}

.services-item:nth-child(2) {
    background-color: #3fb6c6;
}

.services-item:nth-child(3) {
    background-color: #3cbbbb;
}

.services-item:nth-child(4) {
    background-color: #37c3a8;
}

.services-icon {
    width: 75px;
    height: 75px;
    background-size: contain;
}

.services-icon1 {
    background: url(../img/icon1.png) #ffffff no-repeat center center;
    border-radius: 50%;
}

.services-icon2 {
    background: url(../img/icon2.png) #ffffff no-repeat center center;
    border-radius: 50%;
}

.services-icon3 {
    background: url(../img/icon3.png) #ffffff no-repeat center center;
    border-radius: 50%;
}

.services-icon4 {
    background: url(../img/icon4.png) #ffffff no-repeat center center;
    border-radius: 50%;
}

.services-header {
    color: #ffffff;
    font-family: "Montserrat Bold";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    text-align: center;
}

.services-text {
    color: #ffffff;
    font-family: "Open Sans Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.why-header {
    color: #494949;
    font-family: "Montserrat Bold";
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding-top: 111px;
}

.why-text {
    color: #6a6a6a;
    font-family: "Open Sans Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.why-wrapper {
    display: grid;
    grid-template-columns: 1fr 337px 1fr;
    grid-template-rows: 1fr 1fr;
}

@media (max-width: 1050px) {
    .why-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .why-wrapper {
        grid-template-columns: 1fr;
    }
}

.why-picture {
    background: url(../img/woman_doctor.png) no-repeat center center;
    height: 598px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: end;
}

@media (max-width: 800px) {
    .why-picture {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

.why-item {
    margin-left: 160px;
    margin-top: 160px;
}

.why-item-header {
    display: block;
    padding-left: 85px;
    padding-top: 20px;
    color: #6f6f6e;
    font-family: "Montserrat Bold";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    margin: 0;
    margin-bottom: 35px;
}

.why-item-text {
    color: #6a6a6a;
    font-family: "Open Sans Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.why-icon1 {
    background: url(../img/why-icon1.png) no-repeat left top;
}

.why-icon2 {
    background: url(../img/why-icon2.png) no-repeat left top;
}

.why-icon3 {
    background: url(../img/why-icon3.png) no-repeat left top;
}

.why-icon4 {
    background: url(../img/why-icon4.png) no-repeat left top;
}

.best-feature {
    background: url(../img/best_feature_background.png) no-repeat;
    background-size: cover;
    height: 592px;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 150px;
}

.best-feature-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

@media (max-width: 760px) {
    .best-feature-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 460px) {
    .best-feature-list {
        grid-template-columns: 1fr;
    }
}

.best-feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.best-feature-icon {
    width: 91px;
    height: 80px;
    background-size: contain;
}

.best-feature1 {
    background: url(../img/best_feature1.png) no-repeat center center;
}

.best-feature2 {
    background: url(../img/best_feature2.png) no-repeat center center;
}

.best-feature3 {
    background: url(../img/best_feature3.png) no-repeat center center;
}

.best-feature4 {
    background: url(../img/best_feature4.png) no-repeat center center;
}

.best-feature-num {
    color: #ffffff;
    font-family: "Montserrat Medium";
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -1.19px;
    margin: 20px 0;
}

.best-feature-hr {
    width: 84px;
    height: 6px;
    background: url(../img/best_feature_hr.png) no-repeat;
}

.best-feature-text {
    color: #ffffff;
    font-family: "Montserrat Medium";
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.52px;
}

.works-and-creative {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 60px;
    padding-top: 100px;
    /* grid-template-areas: "worksHead worksHead ourCreativeHead" "worksDesc worksDesc creativeDesc" "worksUnit1 worksUnit2 heartTreatment" "worksData1 worksData2 heartTreatmentPoints" "readMoreWrap readMoreWrap ."; */
}

@media (max-width: 1050px) {
    .works-and-creative {
        grid-template-columns: 1fr;
    }
}

.works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-areas: 
        "worksHeader worksHeader"
        "worksText worksText" 
        "worksUnit1 worksUnit2" 
        "readMore readMore";
}

@media (max-width: 1050px) {
    .works {
        justify-items: center;
    }
}

.works-header {
    grid-area: worksHeader;
    color: #494949;
    font-family: "Montserrat Bold";
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}

.works-text {
    grid-area: worksText;
    color: #6a6a6a;
    font-family: "Open Sans Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.work-unit1 {
    grid-area: worksUnit1;
}

.work-unit2 {
    grid-area: worksUnit2;
}

.work-unit-desc {
    color: #6f6f6e;
    font-family: "Montserrat Medium";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.21px;
    margin-bottom: 0;
}

.work-unit-data {
    color: #0087be;
    font-family: "Montserrat Medium";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.38px;
    margin-top: 10px;
}

.work-unit-text {
    width: 290px;
    color: #6a6a6a;
    font-family: "Open Sans Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.read-more-wrapper {
    grid-area: readMore;
    justify-self: center;
}

.creative-header {
    /* grid-area: ourCreativeHead; */
    color: #494949;
    font-family: "Montserrat Bold";
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}

.creative-text {
    /* grid-area: creativeDesc; */
    color: #6a6a6a;
    font-family: "Open Sans Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.heart-threatment-list {
    display: grid;
    grid-template-columns: 1fr;
}

@media (max-width: 1050px) {
    .heart-threatment-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .heart-threatment-list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1050px) {
    .heart-threatment-list .active {
        grid-row: 1/4;
    }
}

.heart-threatment-header {
    padding-left: 66px;
    height: 54px;
    line-height: 54px;
    background: url(../img/heartPoint.png) #e2e2e2 no-repeat 10px center;
    border-radius: 30px;
    color: #474747;
    font-family: "Montserrat Medium";
    font-size: 20px;
    font-weight: 500;
}

.heart-threatment-list .active .heart-threatment-header {
    background-color: #4dabd2;
    color: #ffffff;
}

.heart-threatment-text {
    color: #6a6a6a;
    font-family: "Open Sans Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.gallery {
    width: calc(100% + 40px);
    float: left;
    margin-left: -20px;
    margin-right: -20px;
    background: url(../img/gallery_background.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 100px;
    text-align: center;
    padding: 90px 0;
}

.gallery-container {
    width: 1200px;
    margin: 0 auto;
}
.gallery-header {
    color: #ffffff;
    font-family: "Montserrat Bold";
    font-size: 45px;
    font-weight: 700;
}

.gallery-text {
    color: #ffffff;
    font-family: "Open Sans Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.gallery-wrapper {
    display: grid;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

@media (max-width: 850px) {
    .gallery-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
}

@media (max-width: 500px) {
    .gallery-wrapper {
        grid-template-columns: 1fr;
    }
}

.our-team {
    width: calc(100% + 40px);
    float: left;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    padding: 90px 0;
}

.our-team-container {
    width: 1200px;
    margin: 0 auto;
}

.our-team-header {
    color: #494949;
    font-family: "Montserrat Bold";
    font-size: 45px;
    font-weight: 700;
}

.our-team-text {
    color: #6a6a6a;
    font-family: "Open Sans Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.our-team-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 760px) {
    .our-team-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .our-team-list {
        grid-template-columns: 1fr;
    }
}

.our-team-name {
    color: #6f6f6e;
    font-family: "Montserrat Medium";
    font-size: 25px;
    font-weight: 500;
}

.our-team-title {
    color: #6f6f6e;
    font-family: "Montserrat Medium";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1.09px;
}

.our-team-social a {
    color: #0087be;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

.small-banner {
    height: 176px;
    background-color: #e2e2e2;
    width: calc(100% + 40px);
    float: left;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 30px;
}

@media (max-width: 850px) {
    .small-banner {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

/* .small-banner-btn {
    margin-bottom: 30px;
} */

.small-banner-text {
    color: #494949;
    font-family: "Montserrat Bold";
    font-size: 30px;
    font-weight: 700;
}

footer {
    width: calc(100% + 40px);
    float: left;
    margin-left: -20px;
    margin-right: -20px;
}

.footer-wrapper {
    background-color: #171717;
}

.footer-main {
    padding: 100px 0;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

@media (max-width: 850px) {
    .footer-main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .footer-main {
        grid-template-columns: 1fr;
    }
}

.footer-main h3 {
    color: #ffffff;
    font-family: "Open Sans Bold";
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.55px;
}

.get-in-touch p, .quick-links a, .our-services a {
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.get-in-touch-email {
    padding-left: 50px;
    background: url(../img/footer_email.png) no-repeat left center;
}

.get-in-touch-phone {
    padding-left: 50px;
    background: url(../img/footer_phone.png) no-repeat left center;
}

.get-in-touch-address {
    padding-left: 50px;
    background: url(../img/footer_address.png) no-repeat left center;
    margin-bottom: 70px;
}

.quick-links-item, .our-services-item {
    list-style-image: url(../img/arrow.png);
    margin-bottom: 15px;
}

.get-in-touch-social a {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

.enquiry-form {
    font-size: 14px;
    font-family: "Open Sans Regular";
    width: 231px;
    justify-self: center;
}

.enquiry-form textarea {
    font-family: inherit;
    height: 100px;
}

.enquiry-form input[type="text"],
.enquiry-form textarea {
    color: #ffffff;
    outline: none;
    border: 0;
    margin-bottom: 10px;
    background: transparent;
    width: 231px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.42);
}

.enquiry-form input[type="submit"] {
    background-color: #1a9bdc;
    box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.2);
    width: 166px;
    height: 47px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Montserrat Regular";
    font-size: 18px;
}

.copyright {
    background-color: #1a1a1a;
}

.copyright p {
    color: #615555;
    font-family: "Open Sans Regular";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.33px;
    text-align: center;
    margin: 0;
    padding: 10px;
}