@font-face{
    font-family: "Open Sans Regular";
    src: url(../fonts/OpenSans-Regular.ttf);    
}
@font-face{
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSans-Bold.ttf);    
}
@font-face{
    font-family: "Montserrat Regular";
    src: url(../fonts/Montserrat-Regular.ttf);    
}
@font-face{
    font-family: "Montserrat Medium";
    src: url(../fonts/Montserrat-Medium.ttf);    
}
@font-face{
    font-family: "Montserrat Bold";
    src: url(../fonts/Montserrat-Bold.ttf);    
}
@font-face{
    font-family: "Lato Bold";
    src: url(../fonts/latobold.ttf);    
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    font-family: "Lato Bold";
    font-size: 18px;   
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    width: 166px;
    height: 47px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    border: none;
    border-radius: 30px;
}

header {
    width: 1200px;
    margin: 0 auto;
}

.logo-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.header-contacts {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 60px;
}

.header-contacts .text {
    margin-top: 0;
}

.header-contacts .title {
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 20px;
}

.logo {
    margin: 20px;
}

.header-worktime {
    background: url(../img/header-worktime.png) no-repeat left center;
}

.header-mail {
    background: url(../img/header-mail.png) no-repeat left center;
}

.header-phone {
    background: url(../img/header-phone.png) no-repeat left center;
}

.main-menu {
    display: flex;
    justify-content: space-between;
}

.main-menu-list{
    display: flex;
    float: left;
}

.main-menu-item a {
    color: #6c6c6c;
    font-family: "Montserrat Regular";
    font-size: 20px;
    font-weight: 400;
    padding: 0 20px;
}

.header-social-icons a {
    color: #191919;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 6.8px;
}

.main-banner {
    background: url(../img/main_banner.jpg) no-repeat;
    height: 460px;
    padding-top: 180px;
    padding-left: 140px;
}

.main-banner-wrapper {
    width: 540px;
    height: 278px;
    
}

.main-banner-header {
    color: #474747;
    font-family: "Montserrat Medium";
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -1.19px;
    text-align: center;
    margin-top: 0;
}

.main-banner-text {
    color: #3f3f3f;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.main-banner-button {
    margin-left: calc(50% - 83px);
}

.services-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.services-item {
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services-item:nth-child(1) {
    background-color: #43b1d2;
}

.services-item:nth-child(2) {
    background-color: #3fb6c6;
}

.services-item:nth-child(3) {
    background-color: #3cbbbb;
}

.services-item:nth-child(4) {
    background-color: #37c3a8;
}

.services-icon {
    width: 75px;
    height: 75px;
    background-size: contain;
}

.services-icon1 {
    background: url(../img/icon1.png) #ffffff no-repeat center center;
    border-radius: 50%;
}

.services-icon2 {
    background: url(../img/icon2.png) #ffffff no-repeat center center;
    border-radius: 50%;
}

.services-icon3 {
    background: url(../img/icon3.png) #ffffff no-repeat center center;
    border-radius: 50%;
}

.services-icon4 {
    background: url(../img/icon4.png) #ffffff no-repeat center center;
    border-radius: 50%;
}

.services-header {
    color: #ffffff;
    font-family: "Montserrat Bold";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    text-align: center;
}

.services-text {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.why-header {
    color: #494949;
    font-family: "Montserrat Bold";
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding-top: 111px;
}

.why-text {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.why-wrapper {
    display: grid;
    grid-template-columns: 1fr 337px 1fr;
    grid-template-rows: 1fr 1fr;
}

.why-picture {
    background: url(../img/woman_doctor.png) no-repeat center center;
    height: 598px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: end;
}

.why-item {
    margin-left: 160px;
    margin-top: 160px;
}

.why-item-header {
    display: block;
    padding-left: 85px;
    padding-top: 20px;
    color: #6f6f6e;
    font-family: "Montserrat Bold";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    margin: 0;
    margin-bottom: 35px;
}

.why-item-text {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.why-icon1 {
    background: url(../img/why-icon1.png) no-repeat left top;
}

.why-icon2 {
    background: url(../img/why-icon2.png) no-repeat left top;
}

.why-icon3 {
    background: url(../img/why-icon3.png) no-repeat left top;
}

.why-icon4 {
    background: url(../img/why-icon4.png) no-repeat left top;
}

.best-feature {
    background: url(../img/best_feature_background.png) no-repeat;
    height: 592px;
}

.best-feature {
    padding-top: 150px;
}

.best-feature-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.best-feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.best-feature-icon {
    width: 91px;
    height: 80px;
    background-size: contain;
}

.best-feature1 {
    background: url(../img/best_feature1.png) no-repeat center center;
}

.best-feature2 {
    background: url(../img/best_feature2.png) no-repeat center center;
}

.best-feature3 {
    background: url(../img/best_feature3.png) no-repeat center center;
}

.best-feature4 {
    background: url(../img/best_feature4.png) no-repeat center center;
}

.best-feature-num {
    color: #ffffff;
    font-family: "Montserrat Medium";
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -1.19px;
    margin: 20px 0;
}

.best-feature-hr {
    width: 84px;
    height: 6px;
    background: url(../img/best_feature_hr.png) no-repeat;
}

.best-feature-text {
    color: #ffffff;
    font-family: "Montserrat Medium";
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.52px;
}

.works-and-creative {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-top: 100px;
    grid-template-areas: "worksHead worksHead ourCreativeHead" "worksDesc worksDesc creativeDesc" "worksUnit1 worksUnit2 heartTreatment" "worksData1 worksData2 heartTreatmentPoints" "readMoreWrap readMoreWrap .";
}

.works-header {
    grid-area: worksHead;
    color: #494949;
    font-family: "Montserrat Bold";
    font-size: 45px;
    font-weight: 700;
}

.works-text {
    grid-area: worksDesc;
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.creative-header {
    grid-area: ourCreativeHead;
    color: #494949;
    font-family: "Montserrat Bold";
    font-size: 45px;
    font-weight: 700;
}

.work-unit1 {
    grid-area: worksUnit1;
}

.work-unit2 {
    grid-area: worksUnit2;
}

.works-button {
    grid-area: readMoreWrap;
}

.creative-text {
    grid-area: creativeDesc;
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

